body {
    background-color: #E5E4E2;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    color: #36454F;
    font-family: 'Lobster Two', cursive;
}

img {
    max-width: 600px;
    /* margin: auto; */
}

p {
    color: #253038;
    width: 100%;
}

.description {
    width: 600px;
}

.left {
    width: 500px; 
    float: left;
    text-align: left;
    margin-right: 100px;
}

.right {
    max-width: 500px;
    float: left;
    text-align: left;
    margin-left: 30px;
}

.display-3 {
    background-color: #FDB196;
}

@media all and (max-width: 480px) {
    img, h1 {
        width: 250px;
    }
    
    .description {
        width: 280px;
    }

    body {
        width: 100%;
        margin: 10px;
        padding: 0;
        font-size: 1rem;
    }
}

@media all and (max-width: 800px) {
    .left, .right{
        width: 100%;
        margin: 10px;
    }
}