doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical! 
    p Oou how cool is this.. oh yea this is where you input those Lorem ipsum content. I really liked the cute cat ones that Naomi shared from Alex's link. 