doctype html
html(lang="en")
  head
    title TreeHouse PUG exercises
  body
    header 
      h1 PUG Templates to reuse code 
    block content 
    footer 
        p this allows us to slice and dice the content that's duplicated in the index.pug file.
