

html {
	border-top: 50px solid #8A85A5; 
	/* border-top: 65px solid #2d263d; */
}

/***********************************************
Headline styling 
***********************************************/
h1 {
	margin-top: 5%;
	font-size: 1.5em;
	line-height: .5em;
	color: #332458;
	text-align: center;
}

/***********************************************
Body styling 
***********************************************/

body {
	margin: 0 auto;
	padding: 20px 20px;
	line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
	color: rgb(68, 54, 54);
	font-weight: 300;
	background: #abc7c7;
}

.left {
	text-align: center;
	display: inline-block;
	float: left;
	border: 1px solid #8A85A5; 
	width: 50%;
}

.right {
	display: inline-block;
	float: right;
	text-align: center;
	margin: 0 20 auto;
	width: 40%;
	border: 1px solid #8A85A5; 
	padding-top: 200px;
}

/***********************************************
Image styling 
***********************************************/

img {
	border-radius: 18%;
	max-width: 500px;
	border-style: solid;
}

/***********************************************
Responsive Designs
***********************************************/

@media all and (max-width: 480px) {
    img, h1 {
        width: 100%;
    }
	
    body {
        width: 100%;
        margin: 10px;
        padding: 0;
        font-size: 1rem;
    }
}

@media all and (max-width: 800px) {
    .left, .right{
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 1000px) {

	.left, .right {
		display: block;
		text-align: center;
		margin: 0 20 auto;
		width: 100%;
	}

	img {
		width: 50%;
	}
}
